**/js/lib/**
.rpt2_cache/**
dist/**
**/dist/**
output/**
node_modules/**
**/node_modules/**
*.yml
.gitignore
.prettierignore
yarn.lock
.npmignore
.**/*.map
package-lock.json
**/*.pug
**/*.png
**/*.jpg
**/*.bmp
**/*.jpeg
**/*.gif
**/*.pug
**/*.sh
**/*.conf
*.log