html {
  height: 100%;
}
body {
  padding: 0;
  margin: 0;
  height: 100%;
  background: #d0d0d0;
  text-align: center;
}
.dm-box {
  display: inline-block;
  background: #fff;
  padding: 50px 80px;
  vertical-align: middle;
  margin: 50px auto;
  border-radius: 5px;
}
.dm-title {
  display: inline-block;
  width: 100%;
  color: #ffcc00;
  font-size: 18px;
  margin: 0;
  padding: 0;
  margin-bottom: 8px;
}
.dm-info {
  display: inline-block;
  width: 100%;
  font-size: 14px;
  color: #666;
  margin: 0;
  padding: 0;
  text-align: center;
}

.dm-frame {
  border: 0;
  width: 400px;
  height: 200px;
}
