@import './base/mixin';
$psdWidth: 750;
/* reset */
* {
    -webkit-tap-highlight-color: initial;
    cursor: default;
}
img {
    border: 0;
}
body, div, dl, dt, dd {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}
a:active,
a:hover {
  outline: 0;
}
a:link{
    color:#333;
    text-decoration:none
}
a:active,a:visited{
    color:#333334
}


/* page */
body { 
    background: #f3f3f3; 
    width: rem(750); 
    margin: 0 auto;
}

.nav {
    display: block;
    // height: rem(96);
    @include dpr(height, 96px);
}
.nav-main {
    position: fixed;
    z-index: 100;
    display: box;
    display: -webkit-box;
    box-orient: horizontal;
    width: 100%;
    padding: 0 rem(70);
    top: 0;
    left: 0;
    background: #fff;
    @include dpr(border-bottom, 1px solid #ddd);
    // border-bottom: rem(1) solid #ddd;

}
.nav a {
    display: block;
    width: 100%;
    -webkit-box-flex: 1;
    box-flex: 1;

    // height: rem(94);
    // font-size: rem(35);
    // line-height: rem(94);

    @include dpr(height, 94px);
    @include dpr(font-size, 35px);
    @include dpr(line-height, 94px);
    text-align: center;
}
.nav a:after {
    content: '';
    display: block;
    width: 2em;
    margin: -2px auto 0;
    height: 2px;
    background: #ff8900;
    overflow: hidden;
    visibility: hidden;
}
.nav a.cur {
    color: #ff8900;
}
.nav a.cur:after {
    visibility: visible;
}

.head-banner {
    display: block;
    width: 100%;
    height: rem(328);
}
.head-banner a {
    display: block;
    width: 100%;
    height: 100%;
}
.head-banner img {
    width: 100%;
    height: 100%;
    vertical-align: top;
}
.head-banner .t {
    position: relative;
    display: block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    padding: 0 rem(8);
    background: rgba(0,0,0,.5);

    // font-size: rem(28);
    @include dpr(font-size, 28px);
    
    line-height: rem(57);
    margin-top: rem(-57);
    color: #fff;
    
}
.news-list {
    
}
.news-list dt {
    padding-left: rem(28);

    // line-height: rem(66);
    // font-size: rem(30);
    @include dpr(line-height, 66px);
    @include dpr(font-size, 30px);
    color: #777;
    background: #f3f3f3;
}
.news-list dd {
    position: relative;
    padding: rem(28) rem(28) rem(82);

    // border-top: 1px solid #ddd;
    @include dpr(border-top, 1px solid #ddd);
    
    background: #fff;
}
.news-list dd:after {
    content: '';
    display: block;
    height: 0;
    overflow: hidden;
    clear: both;
}
.news-list dd .ft {
    position: absolute;
    left: 0;
    bottom: rem(28);
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 rem(28);

    // font-size: rem(30);
    @include dpr(font-size, 30px);

}
.news-list dd .ft:after {
    content: '';
    display: block;
    height: 0;
    overflow: hidden;
    clear: both;
}
.news-list dd .ft-l {
    float: left;
    color: #507899;
}
.news-list dd .ft-r {
    float: right;
    color: #777;
}
.news-list dd .ft-r em {
    font-style: normal;
    margin: 0 rem(35) 0 rem(12);
}
.news-list dd .ft-r em:last-child {
    margin-right: 0;
}
.news-list dd.news {}
.news-list dd.news .cover {
    float: left;
    width: rem(134);
    height: rem(134);
    margin-right: rem(23);
    background-size: cover;
    background-position: center;
}
.news-list dd.news .t {
    display: block;
    font-weight: 400;
    margin-left: rem(157);

    // font-size: rem(33);
    @include dpr(font-size, 33px);

    line-height: 1.8;
    height: 1.8em;
}
.news-list dd.news .i {
    display: block;
    margin-left: rem(157);

    // font-size: rem(30);
    @include dpr(font-size, 30px);

    line-height: 1.4;
    height: 2.8em;
    color: #666;
}
.news-list dd.album .t {
    display: block;
    font-weight: 400;
    // font-size: rem(33);
    @include dpr(font-size, 33px);
    line-height: 1.8;
    height: 1.8em;
}
.news-list dd.album .cover-list {
    width: 100%;
    display: block;
    margin-top: 2px;
    white-space: nowrap;
    font-size: 0;
    overflow: hidden;
}
.news-list dd.album .cover-list span{
    display: inline-block;
    width: rem(206);
    height: rem(206);
    margin-right: rem(12);
    background-size: cover;
    background-position: center;
}


