@import '../../sass/mixin';
$psdWidth: 750;
/* reset */
* {
    -webkit-tap-highlight-color: initial;
    cursor: default;
}
img {
    border: 0;
}
body, div, dl, dt, dd {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}
a:active,
a:hover {
  outline: 0;
}
a:link{
    color:#333;
    text-decoration:none
}
a:active,a:visited{
    color:#333334
}


/* page */
body { 
    background: #f3f3f3; 
    width: rem(750); 
    margin: 0 auto;
}

.nav {
    display: block;
    a {
        display: block;
        width: 100%;
        -webkit-box-flex: 1;
        box-flex: 1;
        text-align: center;
        &:after {
            content: '';
            display: block;
            width: 2em;
            margin: -2px auto 0;
            height: 2px;
            background: #ff8900;
            overflow: hidden;
            visibility: hidden;
        }
    }
    a.cur {
        color: #ff8900;
        &:after {
            visibility: visible;
        }
    }
}
.nav-main {
    position: fixed;
    z-index: 100;
    display: box;
    display: -webkit-box;
    box-orient: horizontal;
    width: 100%;
    padding: 0 rem(70);
    top: 0;
    left: 0;
    background: #fff;

}

.head-banner {
    display: block;
    width: 100%;
    height: rem(328);
    a {
        display: block;
        width: 100%;
        height: 100%;
    }
    img {
        width: 100%;
        height: 100%;
        vertical-align: top;
    }
    .t {
        position: relative;
        display: block;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        width: 100%;
        padding: 0 rem(8);
        background: rgba(0,0,0,.5);
        line-height: rem(57);
        margin-top: rem(-57);
        color: #fff;

    }
}

.news-list {
    dt {
        padding-left: rem(28);
        color: #777;
        background: #f3f3f3;

    }
    dd {
        position: relative;
        padding: rem(28) rem(28) rem(82);
        background: #fff;

        &:after {
            content: '';
            display: block;
            height: 0;
            overflow: hidden;
            clear: both;

        }
        .ft {
            position: absolute;
            left: 0;
            bottom: rem(28);
            width: 100%;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            padding: 0 rem(28);

            &:after {
                content: '';
                display: block;
                height: 0;
                overflow: hidden;
                clear: both;

            }
        }

        .ft-l {
            float: left;
            color: #507899;
        }
        .ft-r {
            float: right;
            color: #777;
            em {
                font-style: normal;
                margin: 0 rem(35) 0 rem(12);
                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }

    dd.news {
        .cover {
            float: left;
            width: rem(134);
            height: rem(134);
            margin-right: rem(23);
            background-size: cover;
            background-position: center;

        }
        .t {
            display: block;
            font-weight: 400;
            margin-left: rem(157);
            line-height: 1.8;
            height: 1.8em;

        }
        .i {
            display: block;
            margin-left: rem(157);
            line-height: 1.4;
            height: 2.8em;
            color: #666;

        }
    }
    dd.album {
        .t {
            display: block;
            font-weight: 400;
            line-height: 1.8;
            height: 1.8em;

        }
        .cover-list {
            width: 100%;
            display: block;
            margin-top: 2px;
            white-space: nowrap;
            font-size: 0;
            overflow: hidden;
            span {
                display: inline-block;
                width: rem(206);
                height: rem(206);
                margin-right: rem(12);
                background-size: cover;
                background-position: center;

            }

        }
    }

}


// dpr style
.nav {
    @include dpr(height, 96px);
    a {
        @include dpr(height, 94px);
        @include dpr(font-size, 35px);
        @include dpr(line-height, 94px);
    }
}
.nav-main {
    @include dpr(border-bottom, 1px solid #ddd);
}
.head-banner {
    .t {
        @include dpr(font-size, 28px);
    }

}
.news-list {
    dt {
        @include dpr(line-height, 66px);
        @include dpr(font-size, 30px);
    }
    dd {
        @include dpr(border-top, 1px solid #ddd);
        .ft {
            @include dpr(font-size, 30px);
        }
    }
    dd.news {
        .t {
            @include dpr(font-size, 33px);
        }
        .i {
            @include dpr(font-size, 30px);
        }

    }
    dd.album {
        .t {
            @include dpr(font-size, 33px);
        }

    }
}





// em style
// .nav {
//     height: rem(96);
//     a {
//         height: rem(94);
//         font-size: rem(35);
//         line-height: rem(94);
//     }
// }
// .nav-main {
//     border-bottom: rem(1) solid #ddd;
// }
// .head-banner {
//     .t {
//         font-size: rem(28);
//     }

// }
// .news-list {
//     dt {
//         line-height: rem(66);
//         font-size: rem(30);
//     }
//     dd {
//         border-top: 1px solid #ddd;
//         .ft {
//             font-size: rem(30);
//         }
//     }
//     dd.news {
//         .t {
//             font-size: rem(33);
//         }
//         .i {
//             font-size: rem(30);
//         }

//     }
//     dd.album {
//         .t {
//             font-size: rem(33);
//         }

//     }
// }
