/* reset */
* {
  -webkit-tap-highlight-color: initial;
  cursor: default; }

img {
  border: 0; }

body, div, dl, dt, dd {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word; }

a:active,
a:hover {
  outline: 0; }

a:link {
  color: #333;
  text-decoration: none; }

a:active, a:visited {
  color: #333334; }

/* page */
body {
  background: #f3f3f3;
  width: 10rem;
  margin: 0 auto; }

.nav {
  display: block;
  height: 48px; }
  [data-dpr="3"] .nav {
    height: 144px; }
  [data-dpr="2"] .nav {
    height: 96px; }
  [data-dpr="1"] .nav {
    height: 48px; }

.nav-main {
  position: fixed;
  z-index: 100;
  display: box;
  display: -webkit-box;
  box-orient: horizontal;
  width: 100%;
  padding: 0 0.93rem;
  top: 0;
  left: 0;
  background: #fff;
  border-bottom: 0.5px solid #ddd; }
  [data-dpr="3"] .nav-main {
    border-bottom: 1.5px solid #ddd; }
  [data-dpr="2"] .nav-main {
    border-bottom: 1px solid #ddd; }
  [data-dpr="1"] .nav-main {
    border-bottom: 0.5px solid #ddd; }

.nav a {
  display: block;
  width: 100%;
  -webkit-box-flex: 1;
  box-flex: 1;
  height: 47px;
  font-size: 17.5px;
  line-height: 47px;
  text-align: center; }
  [data-dpr="3"] .nav a {
    height: 141px; }
  [data-dpr="2"] .nav a {
    height: 94px; }
  [data-dpr="1"] .nav a {
    height: 47px; }
  [data-dpr="3"] .nav a {
    font-size: 52.5px; }
  [data-dpr="2"] .nav a {
    font-size: 35px; }
  [data-dpr="1"] .nav a {
    font-size: 17.5px; }
  [data-dpr="3"] .nav a {
    line-height: 141px; }
  [data-dpr="2"] .nav a {
    line-height: 94px; }
  [data-dpr="1"] .nav a {
    line-height: 47px; }

.nav a:after {
  content: '';
  display: block;
  width: 2em;
  margin: -2px auto 0;
  height: 2px;
  background: #ff8900;
  overflow: hidden;
  visibility: hidden; }

.nav a.cur {
  color: #ff8900; }

.nav a.cur:after {
  visibility: visible; }

.head-banner {
  display: block;
  width: 100%;
  height: 4.37rem; }

.head-banner a {
  display: block;
  width: 100%;
  height: 100%; }

.head-banner img {
  width: 100%;
  height: 100%;
  vertical-align: top; }

.head-banner .t {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  padding: 0 0.11rem;
  background: rgba(0, 0, 0, 0.5);
  font-size: 14px;
  line-height: 0.76rem;
  margin-top: -0.76rem;
  color: #fff; }
  [data-dpr="3"] .head-banner .t {
    font-size: 42px; }
  [data-dpr="2"] .head-banner .t {
    font-size: 28px; }
  [data-dpr="1"] .head-banner .t {
    font-size: 14px; }

.news-list dt {
  padding-left: 0.37rem;
  line-height: 33px;
  font-size: 15px;
  color: #777;
  background: #f3f3f3; }
  [data-dpr="3"] .news-list dt {
    line-height: 99px; }
  [data-dpr="2"] .news-list dt {
    line-height: 66px; }
  [data-dpr="1"] .news-list dt {
    line-height: 33px; }
  [data-dpr="3"] .news-list dt {
    font-size: 45px; }
  [data-dpr="2"] .news-list dt {
    font-size: 30px; }
  [data-dpr="1"] .news-list dt {
    font-size: 15px; }

.news-list dd {
  position: relative;
  padding: 0.37rem 0.37rem 1.09rem;
  border-top: 0.5px solid #ddd;
  background: #fff; }
  [data-dpr="3"] .news-list dd {
    border-top: 1.5px solid #ddd; }
  [data-dpr="2"] .news-list dd {
    border-top: 1px solid #ddd; }
  [data-dpr="1"] .news-list dd {
    border-top: 0.5px solid #ddd; }

.news-list dd:after {
  content: '';
  display: block;
  height: 0;
  overflow: hidden;
  clear: both; }

.news-list dd .ft {
  position: absolute;
  left: 0;
  bottom: 0.37rem;
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 0.37rem;
  font-size: 15px; }
  [data-dpr="3"] .news-list dd .ft {
    font-size: 45px; }
  [data-dpr="2"] .news-list dd .ft {
    font-size: 30px; }
  [data-dpr="1"] .news-list dd .ft {
    font-size: 15px; }

.news-list dd .ft:after {
  content: '';
  display: block;
  height: 0;
  overflow: hidden;
  clear: both; }

.news-list dd .ft-l {
  float: left;
  color: #507899; }

.news-list dd .ft-r {
  float: right;
  color: #777; }

.news-list dd .ft-r em {
  font-style: normal;
  margin: 0 0.47rem 0 0.16rem; }

.news-list dd .ft-r em:last-child {
  margin-right: 0; }

.news-list dd.news .cover {
  float: left;
  width: 1.79rem;
  height: 1.79rem;
  margin-right: 0.31rem;
  background-size: cover;
  background-position: center; }

.news-list dd.news .t {
  display: block;
  font-weight: 400;
  margin-left: 2.09rem;
  font-size: 16.5px;
  line-height: 1.8;
  height: 1.8em; }
  [data-dpr="3"] .news-list dd.news .t {
    font-size: 49.5px; }
  [data-dpr="2"] .news-list dd.news .t {
    font-size: 33px; }
  [data-dpr="1"] .news-list dd.news .t {
    font-size: 16.5px; }

.news-list dd.news .i {
  display: block;
  margin-left: 2.09rem;
  font-size: 15px;
  line-height: 1.4;
  height: 2.8em;
  color: #666; }
  [data-dpr="3"] .news-list dd.news .i {
    font-size: 45px; }
  [data-dpr="2"] .news-list dd.news .i {
    font-size: 30px; }
  [data-dpr="1"] .news-list dd.news .i {
    font-size: 15px; }

.news-list dd.album .t {
  display: block;
  font-weight: 400;
  font-size: 16.5px;
  line-height: 1.8;
  height: 1.8em; }
  [data-dpr="3"] .news-list dd.album .t {
    font-size: 49.5px; }
  [data-dpr="2"] .news-list dd.album .t {
    font-size: 33px; }
  [data-dpr="1"] .news-list dd.album .t {
    font-size: 16.5px; }

.news-list dd.album .cover-list {
  width: 100%;
  display: block;
  margin-top: 2px;
  white-space: nowrap;
  font-size: 0;
  overflow: hidden; }

.news-list dd.album .cover-list span {
  display: inline-block;
  width: 2.75rem;
  height: 2.75rem;
  margin-right: 0.16rem;
  background-size: cover;
  background-position: center; }
