/* reset */
* {
  -webkit-tap-highlight-color: initial;
  cursor: default; }

img {
  border: 0; }

body, div, dl, dt, dd {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word; }

a:active,
a:hover {
  outline: 0; }

a:link {
  color: #333;
  text-decoration: none; }

a:active, a:visited {
  color: #333334; }

/* page */
body {
  background: #f3f3f3;
  width: 10rem;
  margin: 0 auto; }

.nav {
  display: block; }

.nav-main {
  position: fixed;
  z-index: 100;
  display: box;
  display: -webkit-box;
  box-orient: horizontal;
  width: 100%;
  padding: 0 0.94rem;
  top: 0;
  left: 0;
  background: #fff; }

.nav a {
  display: block;
  width: 100%;
  -webkit-box-flex: 1;
  box-flex: 1;
  text-align: center; }

.nav a:after {
  content: '';
  display: block;
  width: 2em;
  margin: -2px auto 0;
  height: 2px;
  background: #ff8900;
  overflow: hidden;
  visibility: hidden; }

.nav a.cur {
  color: #ff8900; }

.nav a.cur:after {
  visibility: visible; }

.head-banner {
  display: block;
  width: 100%;
  height: 4.38rem; }

.head-banner a {
  display: block;
  width: 100%;
  height: 100%; }

.head-banner img {
  width: 100%;
  height: 100%;
  vertical-align: top; }

.head-banner .t {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  padding: 0 0.25rem;
  background: rgba(0, 0, 0, 0.5);
  line-height: 0.78rem;
  margin-top: -0.78rem;
  color: #fff; }

.news-list dt {
  padding-left: 0.38rem;
  color: #777;
  background: #f3f3f3; }

.news-list dd {
  position: relative;
  padding: 0.38rem 0.38rem 1.09rem;
  background: #fff; }

.news-list dd:after {
  content: '';
  display: block;
  height: 0;
  overflow: hidden;
  clear: both; }

.news-list dd .ft {
  position: absolute;
  left: 0;
  bottom: 0.38rem;
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 0.38rem; }

.news-list dd .ft:after {
  content: '';
  display: block;
  height: 0;
  overflow: hidden;
  clear: both; }

.news-list dd .ft-l {
  float: left;
  color: #507899; }

.news-list dd .ft-r {
  float: right;
  color: #777; }

.news-list dd .ft-r em {
  font-style: normal;
  margin: 0 0.47rem 0 0.16rem; }

.news-list dd .ft-r em:last-child {
  margin-right: 0; }

.news-list dd.news .cover {
  float: left;
  width: 1.78rem;
  height: 1.78rem;
  margin-right: 0.31rem;
  background-size: cover;
  background-position: center; }

.news-list dd.news .t {
  display: block;
  font-weight: 400;
  margin-left: 2.09rem;
  line-height: 1.8;
  height: 1.8em; }

.news-list dd.news .i {
  display: block;
  margin-left: 2.09rem;
  line-height: 1.4;
  height: 2.8em;
  color: #666; }

.news-list dd.album .t {
  display: block;
  font-weight: 400;
  line-height: 1.8;
  height: 1.8em; }

.news-list dd.album .cover-list {
  width: 100%;
  display: block;
  margin-top: 2px;
  white-space: nowrap;
  font-size: 0;
  overflow: hidden; }

.news-list dd.album .cover-list span {
  display: inline-block;
  width: 2.75rem;
  height: 2.75rem;
  margin-right: 0.16rem;
  background-size: cover;
  background-position: center; }

.nav {
  height: 44.84375px; }
  [data-dpr="3"] .nav {
    height: 134.53125px; }
  [data-dpr="2"] .nav {
    height: 89.6875px; }
  [data-dpr="1.5"] .nav {
    height: 67.26563px; }
  [data-dpr="1"] .nav {
    height: 44.84375px; }
  .nav a {
    height: 43.75px;
    font-size: 16.40625px;
    line-height: 43.75px; }
    [data-dpr="3"] .nav a {
      height: 131.25px; }
    [data-dpr="2"] .nav a {
      height: 87.5px; }
    [data-dpr="1.5"] .nav a {
      height: 65.625px; }
    [data-dpr="1"] .nav a {
      height: 43.75px; }
    [data-dpr="3"] .nav a {
      font-size: 49.21875px; }
    [data-dpr="2"] .nav a {
      font-size: 32.8125px; }
    [data-dpr="1.5"] .nav a {
      font-size: 24.60938px; }
    [data-dpr="1"] .nav a {
      font-size: 16.40625px; }
    [data-dpr="3"] .nav a {
      line-height: 131.25px; }
    [data-dpr="2"] .nav a {
      line-height: 87.5px; }
    [data-dpr="1.5"] .nav a {
      line-height: 65.625px; }
    [data-dpr="1"] .nav a {
      line-height: 43.75px; }

.nav-main {
  border-bottom: 1.09375px solid #ddd; }
  [data-dpr="3"] .nav-main {
    border-bottom: 3.28125px solid #ddd; }
  [data-dpr="2"] .nav-main {
    border-bottom: 2.1875px solid #ddd; }
  [data-dpr="1.5"] .nav-main {
    border-bottom: 1.64063px solid #ddd; }
  [data-dpr="1"] .nav-main {
    border-bottom: 1.09375px solid #ddd; }

.head-banner .t {
  font-size: 13.125px; }
  [data-dpr="3"] .head-banner .t {
    font-size: 39.375px; }
  [data-dpr="2"] .head-banner .t {
    font-size: 26.25px; }
  [data-dpr="1.5"] .head-banner .t {
    font-size: 19.6875px; }
  [data-dpr="1"] .head-banner .t {
    font-size: 13.125px; }

.news-list dt {
  font-size: 14.21875px;
  line-height: 30.625px; }
  [data-dpr="3"] .news-list dt {
    font-size: 42.65625px; }
  [data-dpr="2"] .news-list dt {
    font-size: 28.4375px; }
  [data-dpr="1.5"] .news-list dt {
    font-size: 21.32813px; }
  [data-dpr="1"] .news-list dt {
    font-size: 14.21875px; }
  [data-dpr="3"] .news-list dt {
    line-height: 91.875px; }
  [data-dpr="2"] .news-list dt {
    line-height: 61.25px; }
  [data-dpr="1.5"] .news-list dt {
    line-height: 45.9375px; }
  [data-dpr="1"] .news-list dt {
    line-height: 30.625px; }

.news-list dd {
  border-top: 1.09375px solid #ddd; }
  [data-dpr="3"] .news-list dd {
    border-top: 3.28125px solid #ddd; }
  [data-dpr="2"] .news-list dd {
    border-top: 2.1875px solid #ddd; }
  [data-dpr="1.5"] .news-list dd {
    border-top: 1.64063px solid #ddd; }
  [data-dpr="1"] .news-list dd {
    border-top: 1.09375px solid #ddd; }
  .news-list dd .ft {
    font-size: 14.21875px; }
    [data-dpr="3"] .news-list dd .ft {
      font-size: 42.65625px; }
    [data-dpr="2"] .news-list dd .ft {
      font-size: 28.4375px; }
    [data-dpr="1.5"] .news-list dd .ft {
      font-size: 21.32813px; }
    [data-dpr="1"] .news-list dd .ft {
      font-size: 14.21875px; }

.news-list dd.news .t {
  font-size: 15.3125px; }
  [data-dpr="3"] .news-list dd.news .t {
    font-size: 45.9375px; }
  [data-dpr="2"] .news-list dd.news .t {
    font-size: 30.625px; }
  [data-dpr="1.5"] .news-list dd.news .t {
    font-size: 22.96875px; }
  [data-dpr="1"] .news-list dd.news .t {
    font-size: 15.3125px; }

.news-list dd.news .i {
  font-size: 14.21875px; }
  [data-dpr="3"] .news-list dd.news .i {
    font-size: 42.65625px; }
  [data-dpr="2"] .news-list dd.news .i {
    font-size: 28.4375px; }
  [data-dpr="1.5"] .news-list dd.news .i {
    font-size: 21.32813px; }
  [data-dpr="1"] .news-list dd.news .i {
    font-size: 14.21875px; }

.news-list dd.album .t {
  font-size: 15.3125px; }
  [data-dpr="3"] .news-list dd.album .t {
    font-size: 45.9375px; }
  [data-dpr="2"] .news-list dd.album .t {
    font-size: 30.625px; }
  [data-dpr="1.5"] .news-list dd.album .t {
    font-size: 22.96875px; }
  [data-dpr="1"] .news-list dd.album .t {
    font-size: 15.3125px; }
